<!doctype html>
<html lang="en">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link> 
    <title>Nolant108: {{ title }}</title>
    <script src="/js/jamstack-comments.js" defer></script>
  </head>
  <body class="{{ pageClass }}">
    <div class="container">
    <header>
      <ul class="nav">
        <li>
          <a href="/">Home<small>The center of the univerise!</small></a>
        </li>
        <li>
          <a href="/about">More Info<small>Where the info is</small></a>
        </li>
        <li>
          <a href="/resume">Resume<small>This is the Resume</small></a>
        </li>
        <li>
          <a href="/projects">Projects<small>Current Projects</small></a>
        </li>
        <li>
          <a href="/donate">Donate<small>Support Me</small></a>
        </li>
      </ul>
    </header>
    {{ content | safe }}
    {% include "footer.njk" %}
    </div>
  </body>
</html>